# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Package files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.*
!.env.example

# Build directories
dist/
build/
out/

# Logs
logs/
*.log

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Prisma
prisma/.env
prisma/migrations/dev/
.prisma/client/

# SQLite database files
*.sqlite
*.sqlite3
*.db
*.db-journal

# Testing
coverage/
.nyc_output/

# Debug
.debug
.pnpm-store